<h3>Employee List</h3>
<form id='employee'>
  First name:
  <input type="text" name="firstname"><br><br>
  Last name:
  <input type="text" name="lastname">

  Designation:
  <input type="text" name="designation">

  Last Org:
  <input type="text" name="lastorg">  
</form>
<div id='msg'>Message</div>
<input type='button' value='Add Employee' onclick = addEmployee()>

