<form id='salary' action='employee/salary' method="POST">
  First name:<br>
  <input type="text" name="firstname"><br><br>
  Last name:<br>
  <input type="text" name="lastname">
  <input type="button" name='submit' value='Save' onClick = 'saveSalary()'>
</form>
<div id='msg'>Message</div>
