<!DOCTYPE html>
<html lang="en">
<head>
    <script src='jquery-1.11.2.js'></script>
    <script src='employee.js'></script>
    <% include layout/head %>    
</head>
<body class="container">
    <header>			
        <% include layout/header %>
    </header>

    <main>
        <div class="jumbotron">        
         <div id="content-area">
            <p>Node @Azure app.</p>
        </div>       
    </main>

    <footer>
        <% include layout/footer %>
    </footer>
    
</body>
</html>